*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-content/plugins/akismet
wp-content/plugins/themes/twentyfifteen
wp-content/plugins/themes/twentyseventeen
wp-content/plugins/themes/twentysixteen
WebpackWordpress/node_modules
WebpackWordpress/dist
node_modules/
dist/
/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
